// ----- Button
.btn {
    font-size:14px;
    line-height:20px;
    font-weight:600;
    letter-spacing:1px;
    padding:7px 20px;
    border:none;
    border-radius:0;
    cursor: pointer;
    color:$black-clr;
    background-color:$grey-clr;
    outline:none;
    box-shadow:none;
    text-shadow:none;
    &:focus, &:active, &:hover {
        color:$black-clr;
        background-color:$grey3-clr;
        border:none;
        outline:none !important;
        box-shadow:none;
        text-shadow:none;
    }
    /* Btn Main */
    &.btn-main {
        color:$white-clr;
        background-color:$primary-clr;
        &:hover, &:focus, &:active {
            color:$white-clr;
            background-color:darken($primary-clr, 5%);
        }
    }
    /* Btn Dark */
    &.btn-dark {
        color:$white-clr;
        background-color:$black-light-clr;
        &:hover, &:focus, &:active {
            color:$white-clr;
            background-color:lighten($black-light-clr, 5%);
        }
    }
    /* Btn 1 */
    &.btn-1 {
        color:$white-clr;
        background-color:$yellow-clr;
        &:hover, &:focus, &:active {
            color:$white-clr;
            background-color:darken($yellow-clr, 5%);
        }
    }
    /* Btn 2 */
    &.btn-2 {
        color:$white-clr;
        background-color:$purple-clr;
        &:hover, &:focus, &:active {
            color:$white-clr;
            background-color:darken($purple-clr, 5%);
        }
    }
    /* Btn 3 */
    &.btn-3 {
        color:$white-clr;
        background-color:$blue-clr;
        &:hover, &:focus, &:active {
            color:$white-clr;
            background-color:darken($blue-clr, 5%);
        }
    }
}