// ----- Owl Thumb Slider
.owl-theme {
    .owl-nav {
        width:100%;
        position: absolute;
        top:30%;
        left:0;
        transform:translateY(-50%);
        button {
            width:30px;
            height:30px;
            margin:0 !important;
            font-size: 30px !important;
            color:$black-clr !important;
            background-color:$no-clr !important;
            border:none;
            border-radius:0 !important;
            position: absolute;
            &:hover, &:focus {
                outline:none;
                background-color:$no-clr !important;
                color:$primary-clr !important;
            }
            &.owl-prev {
                left:-30px;
            }
            &.owl-next {
                right:-30px;
            }
        }
    }
}